.product-card {
  width: 18rem; /* Fixed width for consistency */
  height: 24rem; /* Fixed height for consistency */
  border: none;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image {
  width: 100%;
  height: 12rem; /* Fixed height for images */
  object-fit: contain; /* Ensures the image is fully visible and maintains aspect ratio */
  padding: 10px;
}

.product-name {
  font-size: 0.9rem; /* Smaller font size for product name */
  color: #333;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap; /* Prevent name from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text if too long */
}

.price-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.product-price {
  font-size: 0.85rem; /* Smaller font size for price */
  color: #28a745; /* Green color for price */
  font-weight: bold;
}

.view-details-link {
  display: flex;
  align-items: center;
  font-size: 0.85rem; /* Smaller font size for view details */
  color: #666; /* Dark gray color for view details */
  text-decoration: none;
}

.view-details-link:hover {
  color: #007bff; /* Blue color on hover for view details link */
}

.view-details-icon {
  margin-right: 3px;
  font-size: 0.85rem; /* Smaller icon size */
  color: #007bff; /* Blue color for the view details icon */
}
