.cover {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  .card {
    border: none;
    width: 300px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .product-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .price-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  .product-price {
    font-size: 0.85rem; /* Smaller font size for price */
    color: #28a745; /* Green color for price */
    font-weight: bold;
  }
  
  .view-details-link {
    display: flex;
    align-items: center;
    font-size: 0.85rem; /* Smaller font size for view details */
    color: #666; /* Dark gray color for view details */
    text-decoration: none;
  }
  
  .view-details-link:hover {
    color: #007bff; /* Blue color on hover for view details link */
  }
  
  .view-details-icon {
    margin-right: 3px;
    font-size: 0.85rem; /* Smaller icon size */
    color: #007bff; /* Blue color for the view details icon */
  }
  